<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Main Code-->
<main>
    <!-- Main Workout List Page displaying the current workouts entered into the database -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-10">
                <h1><%= title %></h1>
                <a href = "/workoutList/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add a Workout
                </a>
                <br>
                <br>
        <!-- Table for the database items -->
        <table class = "table table-bordered table-striped table-hover">
        <tr>
            <th class = "text-center col-4">Name</th>
            <th class = "text-center col-2">Target</th>
            <th class = "text-center col-2">Weight</th>
            <th class = "text-center col-2">Reps</th>
            <th class = "text-center col-1"></th>
            <th class = "text-center col-1"></th>
        </tr>
        <!-- Repeat the template-->
        <% for (let count=0; count < workoutList.length; count++) { %>
            <tr>
                <td class="text-center col-4"><%= workoutList[count].name %></td>
                <td class="text-center col-2"><%= workoutList[count].target %></td>
                <td class="text-center col-2"><%= workoutList[count].weight %></td>
                <td class="text-center col-2"><%= workoutList[count].reps %></td>
                <td class="text-center col-1">
                    <a href="/workoutList/edit/<%= workoutList[count]._id %>"
                        class="btn btn-primary">
                        <i class="fas fa-pencil-alt"></i> Edit 
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/workoutList/delete/<%= workoutList[count]._id %>"
                        class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete 
                    </a>
                </td>
            </tr>
        <% } %>
        </table>
        </div>
        </div>
    </div>
</main>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>